html {
    background-color: #18171a;
}

#title {
    text-align: center;
    color: #fcfbfe;
}

hr {
    background-color: #0c164f;
    height: 2px;
    border: 2px solid;
    transition: 1s;
}

hr:hover {
    color: #ba1e68;
    box-shadow: 10px 0px 5px #ba1e68;
}

nav {
    color: #fcfbfe;
    font-size: 1rem;
}